asgiref
certifi
cffi
charset-normalizer
colorama
crispy-bootstrap5
cryptography
defusedxml
distlib
dj-database-url
Django
django-allauth
django-ckeditor
django-cleanup
django-cors-headers
django-countries
django-crispy-forms
django-debug-toolbar
django-environ
django-filter
django-js-asset
django-templated-mail
djangorestframework
djangorestframework-jsonapi
djangorestframework-simplejwt
djoser
drf-nested-routers
EasyProcess
entrypoint2
et-xmlfile
filelock
httpie
idna
inflection
iniconfig
Markdown
markdown-it-py
mdurl
MouseInfo
mss
multidict
numpy
oauthlib
opencv-contrib-python
openpyxl
packaging
pandas
Pillow
pipenv
platformdirs
pluggy
psycopg2
psycopg2-binary
PyAutoGUI
pycparser
PyGetWindow
Pygments
PyJWT
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
PySocks
pytest
python-dateutil
python-decouple
python3-openid
pytweening
pytz
requests
requests-oauthlib
requests-toolbelt
rich
six
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
tzdata
urllib3
virtualenv
whitenoise